 
body{
    display: flex;
    justify-content: center;
}
/*
**********************************************************************************************************************************************************************************
REQUERIMIENTO UNO
**********************************************************************************************************************************************************************************
*/
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}
#btnImg{
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    width: 250px;
    height: 250px;
}

/*
**********************************************************************************************************************************************************************************
*/

/*
**********************************************************************************************************************************************************************************
REQUERIMIENTO DOS
**********************************************************************************************************************************************************************************
*/
.contenido_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    /*background-color: brown*/
}
.contenidoCartas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 30vh;
   
}
#Img2{
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    width: 250px;
    height: 250px;
    margin-left: 15px;
    border-radius: 20px;
}

.contenCard{
    display:  flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.cajaTexto{
    margin-top: 5px;
    height: 25px;
}

.btnVerificar{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: 3px solid black;
    font-size:20px ;
}

#caja1{
    text-align: center;
}

#caja2{
    text-align: center;
}

#caja3{
    text-align: center;
}
/*
**********************************************************************************************************************************************************************************
*/
/*
**********************************************************************************************************************************************************************************
REQUERIMIENTO TRES
**********************************************************************************************************************************************************************************
*/
.option{
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
}
/*
**********************************************************************************************************************************************************************************
*/